body{
    background: rgb(131, 124, 235);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", " Ariel","Lucida Grande";
    max-width: 100%;
    text-align: center;
}


h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
    text-align: center;
}

#seconds, #tens{
    font-size: 2em;
    
}

button{
    background: rgb(190, 83, 105);
    color: #ffffff;
    border: solid 1px #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px, 15px;
    width: 180px;
    height: 50px;
    margin: 15px;
    outline: none;
    text-align: center;
    
}