@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Poppins:ital,wght@0,200;0,400;0,600;1,300&family=Righteous&display=swap');

:root {
    --left-bg-color:#daa52099;
    --right-bg-color: #28282899;
    --left-btm-hover-color: #daa520 ;
    --right-btm-hover-color: #282828;
    --hover-width:75%;
    --other-width:25%;
    --speed: 1000ms;
}

*{
box-sizing: border-box;

}

body {
    font-family: 'Arimo',  sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform:  translateX(-50%);
    white-space: nowrap;
}

.btm {
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    text-decoration:none ;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size:  1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btm:hover {
    background-color: var(--left-btm-hover-color);
    border-color: var(--left-btm-hover-color);
}

.split.right .btm:hover {
    background-color: var(--right-btm-hover-color);
    border-color: var(--right-btm-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split {
    position: absolute;
    width:  50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0%;
    background: url(iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right,
.split.left,
.split.right::before, 
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.split.right {
    right: 0%;
    background: url(samsung.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.hover-left .left {
    width: var(--hover-width);
}
.hover-left .right {
    width: var(--other-width);
}
.hover-right .right {
    width: var(--hover-width);
}
.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }
    .tbm {
        padding: 1.2rem;
        width: 12rem;
    }

}

footer {
    position: absolute;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    border: 1px;
    width: 100%;
    height: 15px;
}